* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
}

header {
    background-color: #42445e;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
}

.logo-left img {
    height: 50px;
}

.user-icon img {
    height: 50px;
    border-radius: 50%;
}

.sidebar {
    background-color: #4d3838;
    color: white;
    width: 200px;
    height: 100vh;
    padding-top: 20px;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 75px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 15px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #555;
}

.main-content {
    margin-left: 200px;
    padding: 20px;
    width: calc(100% - 200px);
}
