ul { 
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}


.footer-section {
    background: #323232; 
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    width: 100%;
}

.footer-contact {
    border-bottom: 1px solid #d1d1d1; 
}

.single-contact i {
    color: #ff4d4d;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.contact-text {
    padding-left: 15px;
    display: inline-block;
}

.contact-text h4 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.contact-text span {
    color: #757575;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #ffffff;
    line-height: 28px;
}

.footer-widget-heading h3 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #ff4d4d;
}

.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 60%;
    margin-bottom: 12px;
}

.footer-widget ul li a {
    color: #ffffff;
    text-transform: capitalize;
}

/* hover underline animation cho thẻ a */
.animation-hov {
    display: inline-block;
    position: relative;
    text-decoration: none !important;
}

.animation-hov::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff4d4d;
    transition: transform 0.25s ease-out;
    transform-origin: bottom left; /* Bắt đầu từ bên trái */

}

.animation-hov:hover::after {
    transform: scaleX(1);
} 

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #ffffff; 
    border: 1px solid #ff4d4d;
    color: #000000;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff4d4d;
    padding: 15px 20px;
    border: 1px solid #ff4d4d;
    top: 0;
}

.subscribe-form button i {
    color: #ffffff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.copyright-area {
    background: #555555; 
    padding: 10px 0;
    width: 100%;
}

.copyright-text p {
    text-align: center;
    margin: 0;
    font-size: 14px;
    color: #ffffff;
}

.copyright-text p a {
    color: #ff4d4d;
}

/* CSS logo */
/* .footer-logo {
    margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
} */
