*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
footer{
    margin-top: 20px; 
       padding: 10px; 
     background-color: #f8f8f8; 
    text-align: center; 
    border-top: 1px solid #ddd; 


}
.footer{
    margin: 50px 110px;
}
.footer ul{
    display: inline;
    text-decoration: none;
    list-style-type: none;
}
.footer ul li{
    margin: 0 ;
    margin-bottom: 10px;
}
.footer ul li a{
    text-decoration: none;
    color: black;
}
.footer ul li a:hover{
    color: red;
}
.footer form{
    display: flex;
}
.footer form div button{
    box-sizing: border-box;
    display:inline-block;
    border: 1px solid black;
    background-color: red;
    width: 100px;
    height: 34px;
    text-align: center;
    color: white;
    margin-left: 10px;
}
.footer form div input{
    width: 200px;
    height: 35px;
}
