
ul {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.footer-section {
    background: #ffffff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.footer-contact {
     border-bottom: 1px solid #d1d1d1; 
}

.single-contact i {
    color: #0d6efd; 
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.contact-text {
    padding-left: 15px;
    display: inline-block;
}

.contact-text h4 {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.contact-text span {
    color: #757575;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.footer-widget-heading h3 {
    color: #000000; 
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #0d6efd; 
}

.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}

/* .footer-widget ul li a:hover {
    color: #0d6efd; 
} */

.footer-widget ul li a {
    color: #000000; 
    text-transform: capitalize;
}

/* hover underline animation cho thẻ a */
.hua {
    display: inline-block;
    position: relative;
}

.hua::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0d6efd;
    transition: transform 0.25s ease-out;
}

.hua:hover::after {
    transform: scaleX(1);
}

.hua.center::after {
    transform-origin: bottom center;
}

.hua.center:hover::after {
    transform-origin: bottom center;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #f1f1f1; 
    border: 1px solid #d1d1d1;
    color: #000000; 
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: #0d6efd; 
    padding: 13px 20px;
    border: 1px solid #0d6efd;
    top: 0;
}

.subscribe-form button i {
    color: #ffffff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.copyright-area {
    background: #f1f1f1; 
    padding: 20px 0;
    width: 100%;
}

.copyright-text p {
    text-align: center;
    margin: 0;
    font-size: 14px;
    color: #000000; 
}

.copyright-text p a {
    color: #0d6efd; 
}

/* CSS logo */
/* .footer-logo {
    margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
} */
